sudo: false

notifications:
  email:
    on_success: never
    on_failure: always

language: java

jdk:
  - oraclejdk8

branches:
  only:
    - /^jedipus-.*$/

env:
   - GRADLE_VERSION="2.9"

before_install:
   - wget http://services.gradle.org/distributions/gradle-$GRADLE_VERSION-bin.zip
   - unzip gradle-$GRADLE_VERSION-bin.zip
   - export GRADLE_HOME=$PWD/gradle-$GRADLE_VERSION
   - export PATH=$GRADLE_HOME/bin:$PATH

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/

install: /bin/true

script: gradle check

after_success: gradle bintrayUpload
